:root{
    --text-color:#1a1c20;
    --background-color:#eeeff1;
    --link-color:#4a76ee;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-color);
    font-family: 'poppins', sans-serif;
}
a{
    text-decoration: none;
    color: var(--link-color);
}
/**Navbar**/
nav{
 display: flex;
 justify-content: space-between;
 align-items:center;
 padding: 0 50px;
 height: 88px;
}
nav .left a{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
}
nav .right a{
    font-size: 16px;
    color: var(--text-color);
    margin: 0 10px;
}
nav .right .last-child{
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}
nav .right a span {
    margin-left: 5px;
}
/** Hero-section **/
.hero-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}
.hero-section .text{
    flex: 5;
}
.hero-section .text h2{
    font-size: 42px;
}
.hero-section .text .links {
    margin-top: 25px;
}
.hero-section .text .links a {
    display : inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}
.hero-section .text .links a:hover{
    color: var(--text-color);
    border: 2px solid var(--text-color);
}
.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;

}
.hero-section .headshot img{
    border-radius: 50%;
    width: 350px;
}
/**Section2 SKILLS **/
.skill-section{
    padding: 0 50px ;
    margin-bottom: 100px;
}
.skill-section h2{
    text-align: center;
    font-size: 35px;
}
.skill-section .text {
    text-align:center;
    margin-bottom: 20px;
}
.skill-section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.skill-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding: 10px 20px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
}
.skill-section .cells .cell img{
width: 30px;
height: 30px;
object-fit: contain;
border-radius: 2px;
}
.skill-section .cells .cell span {
    font-size: 18px;
}

/**Section3 Testimony**/
.testimony-section{
    padding: 0 50px;
    margin-bottom: 100px;
}
.testimony-section h2{
    margin-bottom: 30px;
    font-size: 35px;
}
.testimony-section .group{
    display: flex;
    align-items: center;
    gap: 50px;
}
.testimony-section.group .person-detaisl {
    flex: 2;
    align-items: center;
}
.testimony-section.group .person-details img{
width: 200px;
aspect-ratio: 1/1;
border-radius: 50%;
object-fit: cover;
margin-bottom: 10px;
}
.testimony-section .group .person-details p{
    font-weight: 600;
}
.testimony-section .group .person-details p:last-child{
    font-weight: normal;
}

    

.testimony-section .group .text{
    flex: 8;
}
@media (max-width: 850px){
    /**Section1 hero**/
    .hero-section .text h2{
        font-size: 35px;
    }
}
@media (max-width: 740px){
    /**Section1 hero**/
    .hero-section {
        flex-direction: column-reverse;
    }
}
@media (max-width: 600px){
    nav{
        padding: 0 20px;
    }
    nav .right a{
        font-size: 22px;
    }
    nav .right a span{
        display:none;
    }
}
